  <% content_for :meta_title, "Dévoile un trésor que tu possèdes sur Gold Next Door !" %>
  <% content_for :meta_description, "Dévoile tes trésors avec ton Crew pour savoir combien tu peux en tirer..." %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<div class="header-form-tresor">
  <h1 class="h1-index">Dévoile 1 Trésor en ta possession 📦 ✨</h1>
  <p class="p-tresor-form">- une Game Boy enfouie dans tes tiroirs ? <br>- ce chew-gum mâché par Vanessa ?</br>- la soluce du devoir maison noté ?</p>
      <%= simple_form_for @tresor, html: { multipart: true } do |f| %>
</div>

<div class="container-tresor">
  <div class="row-form-tresor">
    <div class="form-tresor">
        <div class="form-inputs">

          <!-- tresor public/cache -->
          <div class="container-checkbox">
            <input class="hidden" type="checkbox" name="prive">
            <div class="tresor_prive">
              <label class="gnd_custom">Trésor ouvert ou Trésor fermé ?</label>

              <div id="tresor_prive">
                <span class="radio">
                  <label for="tresor_prive_false">
                    <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="tresor[prive]" id="tresor_prive_false"><%= image_tag "coffre_open.png", height: 80, width: 80, crop: :fill%>
                  </label>
                </span>

                <input type="hidden" name="tresor[prive]" value="">
                <span class="radio">
                  <label for="tresor_prive_true">
                    <input class="radio_buttons optional" type="radio" value="true" name="tresor[prive]" id="tresor_prive_true"><%= image_tag "coffre_close.png", height: 80, width: 80, crop: :fill%>
                  </label>
                </span>
              </div>

            </div>
          </div>

            <!-- indice -->
          <div class="indice">
            <div class="form-group string optional tresor_indice hidden" id="indice">
              <label class="gnd_custom" for="indice">Un indice qui caractérise ce Trésor
              </label>
              <input class="form-control string optional" placeholder="Pikachu" type="text" name="tresor[indice]">
            </div>
          </div>

          <%= f.input :titre, label: 'Titre du produit', label_html: { class: 'gnd_custom' }, placeholder: "Game Boy Color rouge" %>
          <%= f.input :description, label: 'Description du produit', label_html: { class: 'gnd_custom' }, placeholder: "Console gardée intacte : 0 rayure et 0 impact..." %>

          <label class="control-label check_boxes optional gnd_custom">Dans quels Crews veux-tu dévoiler ce Trésor ?</label>
          <div id="crewcheckbox">
            <% current_pirate.crews.each do |crew| %>
              <span class="checkbox-crew">
                <label for="tresor_crew_ids_<%= crew.id %>">
                  <input class="check_boxes optional" type="checkbox" value="<%= crew.id %>" name="tresor[crew_ids][]" id="tresor_crew_ids_<%= crew.id %>"><%= crew.nom %>
                </label>
              </span>
            <% end %>
          </div>

          <!-- charger une image -->
          <div class="picture">
            <div class="form-group file optional tresor_photo">
              <label class="control-label file optional" for="tresor_photo"><%= image_tag "addpic.svg", height: 80, width: 80, crop: :fill%>
              </label>
              <input class="file optional" type="file" name="tresor[photo]" id="tresor_photo">
            </div>
          </div>
        </div>
        <%= f.input :photo_cache, as: :hidden %>

        <!-- envoyer le formulaire -->
          <div class="wide_buttons">
          <%= f.button :submit, "Dévoiler ce Trésor 🔑", class: 'button yellow' %>
          </div>

      <% end %>
    </div>
  </div>
</div>
