<% tresors.each do |tresor| %>
  <div class="cards">
    <% if tresor.prive %>
      <%= link_to tresor_path(tresor), class: 'no-text-decoration' do %>
      <div class="card">
        <div class="card-body">
          <%= image_tag 'lock2.png'%>
        </div>
        <div class="card-footer-2">
          <div class="p-tresor-titre">
            <p class="p-indice p-tresor-titre">INDICE : « <%= tresor.indice %> »</p>
          </div>
          <div class="controls controls-tresor-ferme">
            <%= image_tag 'come.jpg', class: 'img-card-username' %>
            <p class="p-username-tresor-ferme">@username</p>
          </div>
          <div>
              <p class="p-statut">à conquérir / déjà conquis</p>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <%= link_to tresor_path(tresor), class: 'no-text-decoration' do %>
        <div class="card">
          <div class="card-body">
            <%= cl_image_tag tresor.photo %>
          </div>
          <div class="card-footer">
            <div>
              <p class='p-tresor-titre'><%= tresor.titre %></p>
            </div>
            <div class="controls">
              <%= image_tag 'come.jpg', class: 'img-card-username' %>
              <p class="p-username">@username</p>
            </div>
            <div>
              <p class="p-statut color-statut-ouvert">à conquérir / déjà conquis</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
