<% tresors.each do |tresor| %>
  <div class="cards">
    <% if tresor.prive %>

      <!-- tresor caché -->
      <%= link_to tresor_path(tresor), class: 'no-text-decoration' do %>
        <div class="card">
          <div class="card-body">
            <%= image_tag 'lock2.png'%>
          </div>
          <div class="card-footer-2">
            <div class="p-tresor-titre">
              <p class="p-tresor-titre">INDICE : « <%= tresor.indice %> »</p>
            </div>
            <div class="controls controls-tresor-ferme">
              <%= cl_image_tag tresor.pirate.photo, class: 'img-card-username' %>
              <p class="p-username-tresor-ferme">
                <%= tresor.pirate.pseudo %>
              </p>
            </div>
            <div>
            <%= render "abordages/status", tresor: @tresor, abordage: Abordage.new, active: true %>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>
        <!-- tresor public -->
      <%= link_to tresor_path(tresor), class: 'no-text-decoration' do %>
        <div class="card">
          <div class="card-body">
            <%= cl_image_tag tresor.photo %>
          </div>
          <div class="card-footer">
            <div>
              <p class='p-tresor-titre'><%= tresor.titre %></p>
            </div>
            <div class="controls">
              <%= cl_image_tag tresor.pirate.photo, class: 'img-card-username' %>
              <p class="p-username"><%= tresor.pirate.pseudo %></p>
            </div>
            <div>
            <%= render "abordages/status", tresor: tresor, abordage: Abordage.new, active: true %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


