  <% content_for :meta_title, "Découvre ce Trésor sur Gold Next Door" %>
  <% content_for :meta_description, "Pars en chasse. Démarre les négociations : achat, troc, drink, free hug..." %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<div class="details <%= 'details-ferme' if @tresor.prive && !@tresor.vendu %>">
  <% if @tresor.vendu %>
    <%= cl_image_tag @tresor.photo, height: 240, width: 320, crop: :fill %>
    <div class="infos">
      <h1><span class="mark-vendu">Acquis</span> <%= @tresor.titre %></h1>
      <p><%= @tresor.description %></p>
      <% if @tresor.prive %>
        <p class="indice-reveal">C'était un trésor caché.<br>
          L'indice était : <%= @tresor.indice %></p>
      <% end %>
  <% else %>
    <% if @tresor.prive %>
      <%= image_tag 'lock2.png', height: 240, width: 320, crop: :fill %>
      <div class="infos">
        <h1>INDICE : « <%= @tresor.indice %> »</h1>
    <% else %>
      <%= cl_image_tag @tresor.photo, height: 240, width: 320, crop: :fill %>
      <div class="infos">
        <h1><%= @tresor.titre %></h1>
        <p><%= @tresor.description %></p>
    <% end %>
  <% end %>
  <div class="crews-list-details">
    <% @tresor.crews.each do |crew| %>
      <%= link_to crew.nice_nom, crew_path(crew), class: 'break-word' %>
    <% end %>
  </div>
  <% if current_pirate != @tresor.pirate  && !@tresor.vendu %>
      <div id="new-abordage-modal_btn"><div id="status-update"><%= render "abordages/status", tresor: @tresor %></div></div>
      <% else %>
      <div id="status-update"><%= render "abordages/status", tresor: @tresor %></div>
  <% end %>
  <div class="vendeur">
     <h2>
      <% if @tresor.pirate.photo? %>
        <%= cl_image_tag tresor.pirate.photo, class:'avatar', height: 60 %>
      <% else %>
        <%= image_tag 'pirate.svg', class:'avatar', height: 60 %>
      <% end %>
      <%= @tresor.pirate.nice_pseudo %></h2>
  </div>
  </div>
</div>
<div class="abordages-conteneur">
  <% if @tresor.vendu %>
    <ul class="messages vendu">
      <h3>Acquis par</h3>
      <%= render "abordages/list_item", abordage: @tresor.vente, active: false %>
    </ul>
    <h3>Toutes les propositions</h3>
    <%= render "abordages/list", abordages: @tresor.abordages, active: false %>
  <% else %>
    <% if current_pirate != @tresor.pirate %>
      <%= render "abordages/modal", tresor: @tresor, abordage: Abordage.new, active: true %>
    <% end %>
    <%= render "abordages/list", abordages: @tresor.abordages, active: true %>
    <h3>Ton message</h3>
    <div class="message">
      <div class="message-new">
      <div class="message-avatar">
        <% if pirate_signed_in? && current_pirate.photo? %>
          <%= cl_image_tag current_pirate.photo, class:'avatar', height: 60 %>
        <% else %>
          <%= image_tag 'pirate.svg', class:'avatar', height: 60 %>
        <% end %>
      </div>
      <div class="message-content">
        <%= render "abordages/form", tresor: @tresor, abordage: Abordage.new, active: false %>
      </div>
      </div>
    </div>
  <% end %>
</div>
