<div class="details">
  <% if @tresor.prive %>
    <%= image_tag 'coffre_ferme.jpg', height: 240, width: 320, crop: :fill %>
    <div class="infos">
      <h1><%= @tresor.indice %></h1>
      <p>Slow network is detected. Fallback font will be used while loading:</p>
  <% else %>
    <%= cl_image_tag @tresor.photo, height: 240, width: 320, crop: :fill %>
    <div class="infos">
      <h1><%= @tresor.titre %></h1>
      <p><%= @tresor.description %></p>
  <% end %>
    <%= render "abordages/status", tresor: @tresor %>
  </div>
</div>
<div class="abordages-conteneur">
  <%= render "abordages/modal", tresor: @tresor, abordage: Abordage.new %>
  <hr>
  <%= render "abordages/list", abordages: @tresor.abordages %>
  <%= render "abordages/form", tresor: @tresor, abordage: Abordage.new %>
</div>
