  <% content_for :meta_title, "Découvre ce Trésor sur Gold Next Door" %>
  <% content_for :meta_description, "Part en chasse. Démarre les négociations : achat, troc, drink, free hug..." %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<div class="details">
  <% if @tresor.vendu %>
    <%= cl_image_tag @tresor.photo, height: 240, width: 320, crop: :fill %>
    <div class="infos">
      <h1><span class="mark-vendu">Acquis</span> <%= @tresor.titre %></h1>
      <p><%= @tresor.description %></p>
      <% if @tresor.prive %>
        <p class="indice-reveal">C'était un trésor caché.<br>
          L'indice était : <%= @tresor.indice %></p>
      <% end %>
  <% else %>
    <% if @tresor.prive %>
      <%= image_tag 'lock2.png', height: 240, width: 320, crop: :fill %>
      <div class="infos">
        <h1><%= @tresor.indice %></h1>
    <% else %>
      <%= cl_image_tag @tresor.photo, height: 240, width: 320, crop: :fill %>
      <div class="infos">
        <h1><%= @tresor.titre %></h1>
        <p><%= @tresor.description %></p>
    <% end %>
  <% end %>
  <%= render "abordages/status", tresor: @tresor %>
  <div class="vendeur">
     <h2>Par  <%= image_tag "profil-pic.png", class:'avatar', height: 60 %> <%= @tresor.pirate.pseudo %></h2>
  </div>
  </div>
</div>
<div class="abordages-conteneur">
  <% if @tresor.vendu %>
    <ul class="messages vendu">
      <h2>Acquis par</h2>
      <%= render "abordages/list_item", abordage: @tresor.vente, active: false %>
    </ul>
    <h3>Toutes les propositions</h3>
    <%= render "abordages/list", abordages: @tresor.abordages, active: false %>
  <% else %>
    <% if current_pirate != @tresor.pirate %>
      <%= render "abordages/modal", tresor: @tresor, abordage: Abordage.new, active: true %>
    <% end %>
    <%= render "abordages/list", abordages: @tresor.abordages, active: true %>
    <h3>Ton message</h3>
    <div class="message">
      <div class="message-new">
      <div class="message-avatar">
        <%= image_tag "profil-pic.png", class:'avatar', height: 60 %>
      </div>
      <div class="message-content">
        <%= render "abordages/form", tresor: @tresor, abordage: Abordage.new, active: false %>
      </div>
      </div>
    </div>
  <% end %>
</div>
