<% content_for :meta_title, "Le Crew #{@crew.nom} à rejoind Gold Next Door" %>
<% content_for :meta_description, "Le nouveau crew de Gold Next Door fait beaucoup parler de lui sur les internets" %>
<% content_for :meta_image, image_path('logo-gnd.png') %>


<h1 id="nom-crew"><%= @crew.nom %></h1>
<p><%= @crew.prive? ? 'Est un Groupe privé' : 'Est un groupe Public' %></p>


<% if CrewPirate.where(pirate_id: current_pirate, crew_id: @crew.id).empty? == false %>
      <h2 id="membre-crew">Membres:</h2>
      <% @crew.pirates.each do |pirate| %>
        <p><%= pirate[:email] %></p>
        <p><%= pirate.tresors.count %> trésor(s)</p>
      <% end %>
    <h2 id="nom-crew" >Tresors du Crew:</h2>
  <div class="container">
    <%= render "tresors/list", tresors: @crew.tresor.all %>
    <%= link_to "Quitter ce crew", crew_crew_pirate_path(@crew, current_pirate), method: :delete, class: 'btn alert-crew' %>
<% else  %>
<% end  %>

<% if  CrewPirate.where(pirate_id: current_pirate, crew_id: @crew.id).empty? %>
  <% if @crew.prive %>
    <!-- cas ou le crew est prive -->
    <%= link_to "Devenir membre de ce crew", new_crew_crew_pirate_path(@crew), class: 'btn alert-crew' %>
  <% else %>
    <!-- cas ou le crew est public -->
    <%= link_to "Devenir membre de ce crew", crew_crew_pirates_path(@crew, @crew_pirate), class: 'btn alert-crew', method: :post %>
  <% end %>

<%end  %>
</div>
