<div class="container-tresor">
  <div class="container-profile">
    <% if pirate_signed_in? && @current_pirate.photo? %>
        <%= cl_image_tag @current_pirate.photo, class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
      <% else %>
        <%= image_tag 'pirate.svg', class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
      <% end %>

    <h2 class="text-center">Ton Pseudo:</h2>
    <p class="text-center"><%= @pirate.pseudo %></p>

    <h2 class="text-center">Ton email:</h2>
    <p class="text-center"><%= @pirate.email %></p>

    <hr>
    <%= render "form" %>
    <hr>
  </div>
</div>
