<div class="container-tresor">
  <div class="container-profile">
    <% if pirate_signed_in? && @current_pirate.photo? %>
        <%= cl_image_tag @current_pirate.photo, class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
      <% else %>
        <%= image_tag 'pirate.svg', class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
    <% end %>
    <h2><%= @pirate.pseudo %></h2>
    <p><%= @pirate.email %></p>

  <div class="text-center">

    <h3>Mes Crews :</h3>
    <ul>
      <% @pirate.crews.each do |crew| %>
      <li><%= crew.nom %></li>
      <% end %>
      </ul>
    </div>



    <button type="button" class="btn btn-info" id="modify">Modifier mon profil</button>
    <div class="hidden" id="torender">
      <hr>
      <%= render "form" %>
      <hr>
    </div>
  </div>
</div>
