<div class="container-tresor">
  <div class="container-profile">
    <% if pirate_signed_in? && @current_pirate.photo? %>
        <%= cl_image_tag @current_pirate.photo, class: 'avatar', height: 120, width: 120, crop: :fill, class: "avatar-profile" %>
      <% else %>
        <%= image_tag 'pirate.svg', class: 'avatar', height: 120, width: 120, crop: :fill, class: "avatar-profile" %>
    <% end %>
    <div class="flexbox-profil-updated">
      <div class="profil-pseudo">
        <h2><%= @pirate.nice_pseudo %></h2>
        <p><%= @pirate.email %></p>
      </div>
    </div>

    <div class=“crew-profile”>
      <h2 class="h2-profil-pirate">Mes Crews</h2>
      <ul id="sans-ul">
        <% @pirate.crews.each do |crew| %>
        <p class="break-word"><%= link_to crew.nice_nom, crew_path(crew) %></p>
        <% end %>
      </ul>
      <div class="wide_buttons">
      <button class="button yellow" id="modify">Modifier mon profil</button>
      </div>
      <div class="hidden" id="torender">
        <%= render "form" %>
        <hr>
      </div>
      <hr>
      <hr>
      <hr>
    </div>

  </div>
</div>
