<div class="container-tresor">
  <div class="container-profile">
    <% if pirate_signed_in? && @current_pirate.photo? %>
        <%= cl_image_tag @current_pirate.photo, class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
      <% else %>
        <%= image_tag 'pirate.svg', class: 'avatar', height: 150, width: 150, crop: :fill, class: "avatar-profile" %>
    <% end %>
    <div class="flexbox-profil-updated">
      <div class="profil-pseudo">
        <h2><%= @pirate.nice_pseudo %></h2>
        <p><%= @pirate.email %></p>
      </div>
    </div>

    <div class=“crew-profile”>
      <h2>Mes Crews</h2>
      <ul id="sans-ul">
        <% @pirate.crews.each do |crew| %>
          <p class="break-word"><%= crew.nice_nom %></p>
        <% end %>
      </ul>
      <button type="button" class="btn btn-info" id="modify">Modifier mon profil</button>
      <div class="hidden" id="torender">
        <hr>
        <%= render "form" %>
        <hr>
      </div>
    </div>

  </div>
</div>
