<div class="footer text-inline">
  <div class="decouvrir">
    <%= link_to tresors_path  do %>
    <%= image_tag "telescope2.png", class: 'margin-footer', height: 60 %>
    <p class="footer-text">Traquer</p>
    <% end %>
  </div>
  <div class="tresor">
    <%= link_to new_tresor_path  do %>
    <%= image_tag "bouton-principal5.png", class: 'margin-footer btn-principal', height: 110 %>
    <% end %>
  </div>
  <div class="pourparlers">
    <%= link_to abordages_path  do %>
    <%= image_tag "sword2.png", class: 'margin-footer', height: 65 %>
    <p class="footer-text">Pourparlers</p>
    <% end %>
  </div>
</div>
