<div class="navbar-wagon">
  <!-- Logo -->
  <div>
  <%= link_to crews_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "treasure-map.svg", height: 50 %>
    <p class="navbar-crew">#LeWagon</p>
  <% end %>
  </div>

  <div>
  <%= link_to tresors_path  do %>
  <%= image_tag "logo-gnd.png", class: "navbar-logo" %>
  <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if pirate_signed_in? %>

      <!-- Links when logged in -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_pirate_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
      <%= image_tag "profil-pic.png", class: 'avatar', height: 50 %>
  </div>
</div>

