<li class="message">
  <% if active && abordage.type_abordage && abordage.tresor.pirate == current_pirate %>
    <input type="radio" name="selector-mobile" id="abordage-item-<%= abordage.id %>">
    <label for="abordage-item-<%= abordage.id %>">
  <% else %>
    <label>
  <% end %>
    <div class="message-avatar">
      <% if abordage.pirate.photo? %>
        <%= cl_image_tag abordage.pirate.photo, class:'avatar', height: 60 %>
      <% else %>
        <%= image_tag 'pirate.svg', class:'avatar', height: 60 %>
      <% end %>
    </div>
    <div class="message-content">
      <h4><%= abordage.pirate.pseudo %>
        <% if abordage.type_abordage %>
          <em>propose</em> <%= pluralize abordage.quantite, abordage.type_abordage.nom %>
        <% end %>
      </h4>
      <p><%= abordage.message %></p>
    </div>
    <div class="message-type">
      <% if abordage.type_abordage %>
        <div class="message-choisir <%= abordage.type_abordage.emoji %>">
          <% if abordage.tresor.pirate == current_pirate && !abordage.tresor.vendu %>
            Choisir
          <% end %>
        </div>
      <% end %>
    </div>
  </label>
  <% if abordage.type_abordage && active && abordage.tresor.pirate == current_pirate %>
    <%= link_to "Choisir cette proposition", tresor_abordage_path(abordage.tresor, abordage), method: :patch, class:"btn-accept" %>
  <% end %>
</li>
