<button type="button" class="btn" id="new-abordage-modal_btn">
  Négocie !
</button>

<div id="new-abordage-modal" class="gnd-modal modal-hidden">
  <div id="new-abordage-modal-backgound"></div>
  <div class="content">
    <%= simple_form_for([tresor, abordage], remote: true) do |f| %>
    <div class="form-group radio_buttons optional init-class" id="abordage_type_abordage">
      <input type="hidden" name="abordage[type_abordage_id]" value="">
      <% TypeAbordage.all.each do |type| %>
      <span class="radio_choice_type">
        <label for="abordage_type_abordage_id_<%= type.id %>" class="radio" >
          <input class="radio_buttons optional" type="radio" value="<%= type.id %>" name="abordage[type_abordage_id]" id="abordage_type_abordage_id_<%= type.id %>">
          <%= image_tag "#{type.emoji}.svg", class: "image-picker" %>
        </label>
      </span>
      <% end %>
    </div>
    <%= f.input :quantite, label: 'Combien ?', error: 'Indique la quantité', input_html: {value: 1} %>
    <%= f.input :message, label: 'Message', error: 'Et le message ?' %>
    <button type="button" class="btn" id="new-modal-close">Annuler</button>
    <%= f.submit "Ok",  class: "btn" %>
    <% end %>
  </div>
</div>

