  <% content_for :meta_title, "Gold Next Door - La piraterie n'est jamais finie" %>
  <% content_for :meta_description, "Découvre des trésors cachés autour de toi jusqu'à aujourd'hui ! Dévoile les tiens pour savoir combien tu peux en tirer... Entre amis ou dans ton campus, qui sera le meilleur négociateur ?" %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<%= render "abordages/nav", tab: 2 %>
<ul class="pourparlers-list">
  <% @tresors.each do |tresor| %>
  <li class="pourparler">
    <%= cl_image_tag tresor.photo, height: 60, width: 60, crop: :fill %>
    <div class="content">
      <%= tresor.titre %><br><em><%= tresor.created_at.strftime("%d/%m/%Y") %></em>
    </div>
    <div class="abordage-status">
      <% if tresor.vendu %>
      Vendu
      <% else %>
      En cours
      <% end %>
    </div>
    <%= link_to "Voir", tresor_path(tresor), class:"link-tresor" %>
  </li>
  <%= render "abordages/status", tresor: tresor %>
  <% end %>
</ul>
